body{
border-width:0px;
margin:0px;
padding:0px;
background:#fcfcfc;
}

#link{
color:#888;
text-decoration:underline;
}

#link:hover{
color:#aaa;
text-decoration:underline;
transition: all 0.5s;
}

#link:active{
color:#fff;
text-decoration:underline;
}

#header{
background:#222;
border-width:0px;
margin:0px;
margin-bottom:100px;
padding:0px;
width:100%;
height:65px;
}

#page{
margin:0px;
border-width:0px;
padding-bottom:180px;
}

#content_code{
color:#ddd;
background:#222;
border-width:0px;
position:relative;
margin:0px;
margin-top:20px;
padding-top:7px;
padding-bottom:5px;
padding-left:24px;
padding-right:24px;
text-align:left;
font-family:sans-serif;
font-weight:light;
font-size:15px;
line-height:150%;
overflow:auto;
}

#footer{
background:#222;
border-width:0px;
border-top-style:solid;
border-top-color:#555;
border-top-width:1px;
margin:0px;
margin-top:-50px;
padding:0px;
width:100%;
}

#footer_text{
color:#555;
border-width:0px;
margin:0px;
padding:0px;
padding-top:15px;
text-align:center;
position:relative;
font-family:sans-serif;
font-weight:bold;
font-size:12px;
}

@media screen and (min-width:1301px) {

#header_text{
color:#fff;
border-width:0px;
margin:auto;
width:1066px;
padding:0px;
padding-top:10px;
text-align:left;
position:relative;
font-family:sans-serif;
font-weight:bold;
font-size:36px;
}

#content{
border-width:0px;
margin:auto;
padding:0px;
width:1066px;
}

#content_title{
color:#000;
border-width:0px;
position:relative;
margin:0px;
margin-top:50px;
margin-left:5px;
padding:0px;
text-align:left;
font-family:sans-serif;
font-weight:bold;
font-size:30px;
}

}

@media screen and (min-width:800px) and (max-width:1300px) {

#header_text{
color:#fff;
border-width:0px;
margin:0px;
margin-left:9%;
padding:0px;
padding-top:10px;
text-align:left;
position:relative;
font-family:sans-serif;
font-weight:bold;
font-size:36px;
}

#content{
border-width:0px;
margin:0px;
padding:0px;
position:relative;
left:9%;
right:9%;
width:82%;
}

#content_title{
color:#000;
border-width:0px;
position:relative;
margin:0px;
margin-top:50px;
margin-left:5px;
padding:0px;
text-align:left;
font-family:sans-serif;
font-weight:bold;
font-size:30px;
}

}

@media screen and (max-width:799px) {

#header_text{
color:#fff;
border-width:0px;
margin:0px;
margin-left:5%;
padding:0px;
padding-top:10px;
text-align:left;
position:relative;
font-family:sans-serif;
font-weight:bold;
font-size:36px;
}

#content{
border-width:0px;
margin:0px;
padding:0px;
position:relative;
width:100%;
}

#content_title{
color:#000;
border-width:0px;
position:relative;
margin:0px;
margin-top:50px;
margin-left:5%;
padding:0px;
text-align:left;
font-family:sans-serif;
font-weight:bold;
font-size:30px;
}

}