body{
border-width:0pt;
margin:0pt;
padding:0pt;
background:#fcfcfc;
}

#link{
color:#888;
text-decoration:underline;
}

#link:hover{
color:#aaa;
text-decoration:underline;
transition: all 0.5s;
}

#link:active{
color:#fff;
text-decoration:underline;
}

#header{
background:#222;
border-width:0pt;
margin:0pt;
margin-bottom:100pt;
padding:0pt;
width:100%;
height:65pt;
}

#page{
margin:0pt;
border-width:0pt;
padding-bottom:180pt;
}

#content_code{
color:#ddd;
background:#222;
border-width:0pt;
position:relative;
margin:0pt;
margin-top:20pt;
padding-top:7pt;
padding-bottom:5pt;
padding-left:24pt;
padding-right:24pt;
text-align:left;
font-family:sans-serif;
font-weight:light;
font-size:15pt;
line-height:150%;
overflow:scroll;
}

#footer{
background:#222;
border-width:0pt;
margin:0pt;
margin-top:-49pt;
padding:0pt;
width:100%;
}

#footer_text{
color:#555;
border-width:0pt;
margin:0pt;
padding:0pt;
padding-top:15pt;
text-align:center;
position:relative;
font-family:sans-serif;
font-weight:bold;
font-size:12pt;
}

@media screen and (min-width:1200pt) {

#header_text{
color:#fff;
border-width:0pt;
margin:auto;
width:984pt;
padding:0pt;
padding-top:10pt;
text-align:left;
position:relative;
font-family:sans-serif;
font-weight:bold;
font-size:36pt;
}

#content{
border-width:0pt;
margin:auto;
padding:0pt;
width:984pt;
}

#content_title{
color:#000;
border-width:0pt;
position:relative;
margin:0pt;
margin-top:50pt;
margin-left:5pt;
padding:0pt;
text-align:left;
font-family:sans-serif;
font-weight:bold;
font-size:30pt;
}

}

@media screen and (min-width:1000pt) and (max-width:1200pt) {

#header_text{
color:#fff;
border-width:0pt;
margin:0pt;
margin-left:9%;
padding:0pt;
padding-top:10pt;
text-align:left;
position:relative;
font-family:sans-serif;
font-weight:bold;
font-size:36pt;
}

#content{
border-width:0pt;
margin:0pt;
padding:0pt;
position:relative;
left:9%;
right:9%;
width:82%;
}

#content_title{
color:#000;
border-width:0pt;
position:relative;
margin:0pt;
margin-top:50pt;
margin-left:5pt;
padding:0pt;
text-align:left;
font-family:sans-serif;
font-weight:bold;
font-size:30pt;
}

}

@media screen and (max-width:1000pt) and (min-width:820pt) {

#header_text{
color:#fff;
border-width:0pt;
margin:0pt;
margin-left:7.1428571429%;
padding:0pt;
padding-top:10pt;
text-align:left;
position:relative;
font-family:sans-serif;
font-weight:bold;
font-size:36pt;
}

#content{
border:0pt;
margin:0pt;
padding:0pt;
position:relative;
width:820pt;
}

#content_title{
color:#000;
border-width:0pt;
position:relative;
margin:0pt;
margin-top:50pt;
margin-left:5%;
padding:0pt;
text-align:left;
font-family:sans-serif;
font-weight:bold;
font-size:30pt;
}

}

@media screen and (max-width:820pt) and (min-width:700pt) {

#header_text{
color:#fff;
border-width:0pt;
margin:0pt;
margin-left:7.1428571429%;
padding:0pt;
padding-top:10pt;
text-align:left;
position:relative;
font-family:sans-serif;
font-weight:bold;
font-size:36pt;
}

#content{
border:0pt;
margin:0pt;
padding:0pt;
position:relative;
width:100%;
}

#content_title{
color:#000;
border-width:0pt;
position:relative;
margin:0pt;
margin-top:50pt;
margin-left:5%;
padding:0pt;
text-align:left;
font-family:sans-serif;
font-weight:bold;
font-size:30pt;
}

}

@media screen and (max-width:700pt) {

#header_text{
color:#fff;
border-width:0pt;
margin:0pt;
margin-left:50pt;
padding:0pt;
padding-top:10pt;
text-align:left;
position:relative;
font-family:sans-serif;
font-weight:bold;
font-size:36pt;
}

#content{
border-width:0pt;
margin:0pt;
padding:0pt;
position:relative;
width:100%;
}

#content_title{
color:#000;
border-width:0pt;
position:relative;
margin:0pt;
margin-top:50pt;
margin-left:41pt;
padding:0pt;
text-align:left;
font-family:sans-serif;
font-weight:bold;
font-size:30pt;
}

}