body{
width:100%;
margin:0px;
}

#content{
width:84%;
margin:20px auto;
margin-top:20px;
margin-bottom:100px;
columns:3;
column-gap:8px;
}

#box{
border-style:solid;
border-width:1px;
border-color:#444;
width:100%;
break-inside:avoid;
margin-bottom:6px;
}

#box img{
width:100%;
}

#header{
background:#222;
border-width:0px;
border-bottom-style:solid;
border-bottom-width:1px;
border-bottom-color:#444;
margin:0px;
padding:0px;
position:fixed;
top:0px;
width:100%;
height:65px;
}

#header_text{
color:#fff;
border-width:0px;
margin:0px;
padding:0px;
padding-top:10px;
padding-left:9%;
text-align:left;
position:relative;
font-family:sans-serif;
font-weight:bold;
font-size:36px;
}

#images_title{
color:#000;
border-width:0px;
position:relative;
margin:0px;
margin-top:150px;
margin-left:9%;
padding:0px;
text-align:left;
font-family:sans-serif;
font-weight:bold;
font-size:30px;
}

#footer{
background:#222;
border-width:0px;
border-top-style:solid;
border-top-width:1px;
border-top-color:#444;
margin:0px;
padding:0px;
position:fixed;
bottom:0px;
width:100%;
height:50px;
}

#footer_text{
color:#555;
border-width:0px;
margin:0px;
padding:0px;
padding-top:15px;
text-align:center;
position:relative;
font-family:sans-serif;
font-weight:bold;
font-size:12px;
}