@font-face {
    font-family: "qiantu";
    src: url("Data/fonts/qiantubifengshouxie.ttf");
}

body {
    user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
    background-color: #181818;
    font-family: fantasy, qiantu, sans-serif;
}

h1 {
    width: fit-content;
    position: relative;
    margin: auto;
    margin-top: 60pt;
    text-align: center;
    font-size: 50pt;
    color: #aaa;
    transition: all 0.3s;
}

h1:hover {
    color: #ddd;
    text-shadow: 0 2pt 5pt #444;
}

h1:active {
    color: #d54;
}

h2 {
    width: fit-content;
    position: relative;
    margin: auto;
    margin-top: 25pt;
    margin-bottom: 10pt;
    text-align: center;
    font-size: 12pt;
    color: #444;
    transition: all 0.3s;
}

h2:hover {
    font-size: 13pt;
    color: #888;
    animation: shake 0.2s;
    -webkit-animation: shake 0.2s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    text-shadow: 0 2pt 5pt #444;
}

h2:active {
    color: #ddd;
}

h3 {
    width: fit-content;
    position: relative;
    margin: auto;
    margin-top: 140pt;
    margin-bottom: 10pt;
    text-align: center;
    font-size: 10pt;
    color: #950;
    transition: all 0.5s;
}

h3:hover {
    color: rgb(255, 140, 0);
    text-shadow: 0 2pt 5pt #444;
}

h3:active {
    color: #fb6;
}

p {
    text-align: center;
    margin: 0pt;
}

a {
    font-size: 30pt;
    color: #888;
    text-decoration: none;
}

a:hover {
    font-size: 32pt;
    color: #ddd;
    text-shadow: 0 2pt 5pt #444;
}

.orange {
    color: rgb(255, 140, 0);
}

.orange:hover {
    color: #fb6;
}

img {
    background-color: #181818;
    width: 100pt;
    margin: 0pt;
    border: solid 3pt #181818;
    border-radius: 8pt;
    transition: all 0.5s;
}

img:hover {
    background-color: #fff;
    width: 120pt;
    animation: shake 0.2s;
    -webkit-animation: shake 0.2s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    box-shadow: 0 6pt 15pt #888;
}

img:active {
    box-shadow: 0 4pt 10pt #444;
    width: 110pt;
}

#wmp {
    position: absolute;
    margin: 0pt;
    margin-top: 0pt;
    left: calc(50% - 120pt);
}

#alipay {
    position: absolute;
    margin: 0pt;
    margin-top: 0pt;
    right: calc(50% - 120pt);
}

@keyframes shake {
    0% {
        transform: rotate(0.5deg);
    }
    50% {
        transform: rotate(-0.5deg);
    }
    100% {
        transform: rotate(0.5deg);
    }
}

@-webkit-keyframes shake {
    0% {
        transform: rotate(0.5deg);
    }
    50% {
        transform: rotate(-0.5deg);
    }
    100% {
        transform: rotate(0.5deg);
    }
}