@font-face {
    font-family: "qiantu";
    src: url("Data/fonts/qiantubifengshouxie.ttf");
}

body {
    background-color: #181818;
    font-family: fantasy, qiantu, sans-serif;
}

h1 {
    margin-top: 60pt;
    text-align: center;
    font-size: 50pt;
    color: #aaaaaa;
}

p {
    text-align: center;
    font-size: 30pt;
    margin: 7pt;
    color: #aaaaaa;
}

a {
    color: #888888;
    text-decoration: none;
}

a:hover {
    font-size: 105%;
    color: #dddddd;
}

.orange {
    color: rgb(255, 140, 0);
}

.orange:hover {
    color: #fb6;
}

img {
    background-color: #181818;
    width: 105pt;
    margin: 15pt;
    border-radius: 5pt;
    transition: all 0.5s;
}

img:hover, img:active {
    background-color: #fff;
}

.image {
    width: 100%;
    display: table-cell;
    text-align: center;
    position: fixed;
    margin: 0pt;
}