*{
-webkit-user-select: none;
user-select:none;
}

body{
width:100%;
margin:0pt;
background-color:#fff;
}

#content{
position:relative;
z-index:0;
}

@media screen and (max-width:300pt) {

#content{
width:84%;
margin:10pt auto;
margin-top:10pt;
margin-bottom:50pt;
columns:1;
column-gap:9pt;
}

}

@media screen and (min-width:300.08pt) and (max-width:600pt) {

#content{
width:84%;
margin:10pt auto;
margin-top:10pt;
margin-bottom:50pt;
columns:2;
column-gap:9pt;
}

}

@media screen and (min-width:600.08pt) and (max-width:900pt) {

#content{
width:84%;
margin:10pt auto;
margin-top:10pt;
margin-bottom:50pt;
columns:3;
column-gap:9pt;
}

}

@media screen and (min-width:900.08pt) and (max-width:1200pt) {

#content{
width:84%;
margin:10pt auto;
margin-top:10pt;
margin-bottom:50pt;
columns:4;
column-gap:9pt;
}

}

@media screen and (min-width:1200.08pt) {

#content{
width:1008pt;
margin:10pt auto;
margin-top:10pt;
margin-bottom:50pt;
columns:4;
column-gap:9pt;
}

}

#box{
border:0pt;
width:100%;
break-inside:avoid;
margin-bottom:9pt;
}

#box:hover{
border:0pt;
width:100%;
break-inside:avoid;
margin-bottom:9pt;
}

#box img{
width:100%;
border-radius:2.5pt;
}

#box img:hover{
width:100%;
border-radius:2.5pt;
box-shadow:0pt 0pt 4pt #5bf;
}

#header{
background:#222;
border-width:0pt;
border-bottom-style:solid;
border-bottom-width:1pt;
border-bottom-color:#444;
margin:0pt;
padding:0pt;
position:fixed;
top:0pt;
width:100%;
height:32.5pt;
z-index:9999;
}

@media screen and (max-width:1200pt) {

#header_text{
display: inline-block;
color:#fff;
border-width:0pt;
margin:0pt;
padding:0pt;
padding-top:5pt;
padding-left:9%;
text-align:left;
position:relative;
font-family:sans-serif;
font-weight:bold;
font-size:18pt;
}

#images_title{
color:#000;
border-width:0pt;
position:relative;
margin:0pt;
margin-top:75pt;
margin-left:9%;
padding:0pt;
text-align:left;
font-family:sans-serif;
font-weight:bold;
font-size:15pt;
z-index:-9999;
}

#switch{
display:inline-block;
position:fixed;
top:11.5pt;
right:9%;
width:21pt;
height:13pt;
background-color:#888;
border-radius:6.5pt;
transition:0.4s;
}

}

@media screen and (min-width:1200.08pt) {

#header_text{
display: inline-block;
color:#fff;
border-width:0pt;
margin:0pt;
padding:0pt;
padding-top:5pt;
padding-left:calc(50% - 492pt);
text-align:left;
position:relative;
font-family:sans-serif;
font-weight:bold;
font-size:18pt;
}

#images_title{
color:#000;
border-width:0pt;
position:relative;
margin:0pt;
margin-top:75pt;
margin-left:calc(50% - 492pt);
padding:0pt;
text-align:left;
font-family:sans-serif;
font-weight:bold;
font-size:15pt;
z-index:-9999;
}

#switch{
display:inline-block;
position:fixed;
top:11.5pt;
right:calc(50% - 492pt);
width:21pt;
height:13pt;
background-color:#888;
border-radius:6.5pt;
transition:0.4s;
}

}

#footer{
background:#222;
border-width:0pt;
border-top-style:solid;
border-top-width:1pt;
border-top-color:#444;
margin:0pt;
padding:0pt;
position:fixed;
bottom:0pt;
width:100%;
height:25pt;
}

#footer_text{
color:#555;
border-width:0pt;
margin:0pt;
padding:0pt;
padding-top:7.5pt;
text-align:center;
position:relative;
font-family:sans-serif;
font-weight:bold;
font-size:6pt;
}

#night{
display:inline-block;
position:relative;
margin:1.5pt;
width:10pt;
height:10pt;
background-color:rgb(0,0,0,0);
border-radius:5pt;
box-shadow:3pt 0 0 #ff0;
transition:0.4s;
transform:translateX(5pt);
}

#day{
display:inline-block;
position:relative;
margin:1.5pt;
width:10pt;
height:10pt;
background-color:#fff;
border-radius:5pt;
transition:0.4s;
}