* {
    -webkit-user-select: none;
    user-select:none;
}

body {
    transition: 0.5s;
}

body.dark.day {
    background-color: #fff;
}

body.dark.night {
    background-color: #222;
}

.switch.bg {
    position: relative;
    margin: auto;
    margin-top: 30pt;
    margin-bottom: 30pt;
    width: 252pt;
    height: 144pt;
    border-radius: 72pt;
    box-shadow: 0 0 12pt rgba(0, 0, 0, 0.3) inset;
    background-color: #ddd;
}

.switch.body {
    display: inline-block;
    position: absolute;
    top: 12pt;
    left: 12pt;
    margin: 0pt;
    padding: 0pt;
    width: 120pt;
    height: 120pt;
    border-radius: 60pt;
    box-shadow: 0 0 12pt rgba(0, 0, 0, 0.3);
    font-family: "Times New Roman";
    font-size: 108pt;
    text-align: center;
    vertical-align: middle;
}

.switch.body.day.dark {
    background-color: #fff;
}

.switch.body.night.dark {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 45pt 0 0 #ff0, 50pt 0 12pt -5pt rgba(0, 0, 0, 0.3), -10pt 0 12pt -12pt rgba(0, 0, 0, 0.3) inset;
    transform: translateX(63pt);
}

.switch.body.cccp_normal.cccp {
    color:rgba(255, 255, 255, 0);
    background-color: #fff;
}

.switch.body.cccp_active.cccp {
    color: #ffff00;
    background-color: #ee1c25;
    transform: translateX(108pt);
}

.switch.body.boy.male {
    color:rgba(255, 255, 255, 0);
    background-color: #fff;
}

.switch.body.gay.male {
    color: rgb(200, 0, 150);
    background-color: rgb(150, 0, 200);
    transform: translateX(108pt);
}

.switch.body.calm.face {
    color:rgba(255, 255, 255, 0);
    background-color: #fff;
}

.switch.body.smile.face {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 225, 0);
    transform: translateX(108pt);
}

.switch.body.done.love {
    color:rgba(255, 255, 255, 0);
    background-color: #fff;
}

.switch.body.doing.love {
    color: rgb(255, 80, 125);
    background-color: #fff;
    transform: translateX(108pt);
}

.switch.body.click.before {
    color:rgba(255, 255, 255, 0);
    background-color: #fff;
}

.switch.body.click.after {
    color: #000;
    background-color: #fff;
    transform: translateX(108pt);
}